@mixin button ($textColor: $text-white, $backgroundColor: $bg-primary) {
    display: inline-block;
    width: fit-content;
    padding:0.75rem 1rem;
    border-radius: 0.4rem;
    background-color:$backgroundColor;
    color:$textColor;
    cursor: pointer;
    transition:all 400ms ease; 

    &:hover,
    &:focus{
        background-color:lighten($backgroundColor, 4%);
        color:$textColor;  
        outline:none;
        box-shadow:none;
    }
}

@mixin image_wrapper ($w_size:20px, $h_size:20px, $object_size:cover){
    width: $w_size;
    height: $h_size;
    img{
        width: 100%;
        height: 100%;
        object-fit: $object_size;
    }
}

@mixin cstm_pill($p_size:0.4rem 1.8rem,$width:fit-content,$radius:3.214rem, $bg_color:white,$border: 0.5px solid lighten($bg-gray-300, 40%), $color:$text-gray-400){
    padding: $p_size;
    width: $width;
    border-radius: $radius;
    background-color:$bg_color;
    border:$border;
    color:$color;
}