@mixin button ($textColor: $text-white, $backgroundColor: $bg-primary) {
    display: inline-block;
    width: fit-content;
    padding:0.75rem 1rem;
    border-radius: 0.4rem;
    background-color:$backgroundColor;
    color:$textColor;
    cursor: pointer;
    transition:all 400ms ease; 

    &:hover,
    &:focus{
        background-color:lighten($backgroundColor, 4%);
        color:$textColor;  
        outline:none;
        box-shadow:none;
    }
}

@mixin image_wrapper ($w_size:20px, $h_size:20px, $object_size:cover){
    width: $w_size;
    height: $h_size;
    img{
        width: 100%;
        height: 100%;
        object-fit: $object_size;
    }
}