// Font Variables
$primary-font:'Mulish', sans-serif;

// Text Color Variables
$text-white:#fff;
$text-black:#000;

$text-primary:#1992E3;

$text-black-600:#292D32;
$text-black-700:#050421;




// Background Color Variables
$bg-primary:#1992E3;
$bg-white:#fff;
$bg-black:#000;




// Media Query Screen Breakpoints

$breakpoint-xxl:1440px;
$breakpoint-xl:1200px;
$breakpoint-lg:1030px;
$breakpoint-md:991px;
$breakpoint-sm:767px;
