// Font Variables
$primary-font:'Work Sans', sans-serif;

// Text Color Variables
$text-white:#fff;
$text-black:#000;

$text-primary:#1992E3;

$text-black-600:#292D32;
$text-black-700:#050421;

$text-gray-100:#DAD4D0;
$text-gray-200:#E1E1E1;
$text-gray-300:#718096;
$text-gray-400:#848484;


$text-bluegray-100:#E2E8F0;

$text-dark-blue-400:#005180;


// Background Color Variables
$bg-primary:#1992E3;
$bg-white:#fff;
$bg-black:#000;



$bg-gray-100:#DAD4D0;
$bg-gray-200:#E1E1E1;
$bg-gray-300:#718096;
$bg-gray-400:#848484;


$bg-bluegray-100:#E2E8F0;

$bg-dark-blue-400:#005180;


// Media Query Screen Breakpoints

$breakpoint-xxl:1440px;
$breakpoint-xl:1200px;
$breakpoint-lg:1030px;
$breakpoint-md:991px;
$breakpoint-sm:767px;
